* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header-group {
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.logo {
    height: 70px
}

a {
    text-decoration: 0;
}
.nav-list a {
    color: #fafafa;
}

.nav {
    display: flex;
}

.nav-list {
    padding: 0 30px;
    color: #fafafa;
    width: 120px;
    line-height: 70px;
    font-size: 16px;
    list-style: none;
}

#mv {
    width: 100%;
    height: 650px;
    text-align: center;
    color: #fafafa;
    background-size: cover;
    background-position: center;
    background-image: url(img/mv.png);
}

.mv-title {
    padding-top: 200px;
    font-family: 'rale-way', sans-serif;
    font-size:64px;
}

.mv-text {
    padding-top: 10px;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    header {
        height: 50px;
    }
    .container {
        width: 90%;
    }
    .logo {
        height: 50px;
    }
    .list-bar:first-child {
        margin-top: 10px;
    }

    .list-bar {
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px auto;
        background-color: #fafafa;
    }

    .menu-box {
        width: 40px;
        height: 40px;
        margin-right: 5%;
        border: 1px solid #fafafa;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
    }

    .nav-list {
        display: none;
        line-height: 50px;
        width: 100%;
        border-bottom: 1px solid #808080;
        text-align: center;
        background-color: rgba(0,0,0,.9);
    }

    #mv {
        background-image: url(img/code.png);
    }

    .mv-title {
        font-size: 40px;
    }

    .mv-text {
        font-size: 18px;
    }
}